<!doctype html>
<html>
<head>
	<title><%= title  %></title>
</head>
<body>
	<h1><%= title  %></h1>
	<table>
		<tr>
			<td>Name: </td>
			<td><%= classmate.name %></td>
		</tr>
		<tr>
			<td>Age: </td>
			<td><%= classmate.age %></td>
		</tr>
	</table>


</body>
</html>