<% 
var cmates = [
	{ name: "John", age: "21" },
	{ name: "Brett", age: "14"},
	{ name: "Christina", age: "24"},
	{ name: "Rick", age: "27"}
	];

%>
<!doctype html>
<html>
<head>
	<title>Classmates App</title>
</head>
<body>
	<h1>Here are all of your classmates:</h1>
	<ul>
		<% for (var i = 0; i < cmates.length; i++) {	%>
		<li>Name: <%= cmates[i].name %>, Age: <%= cmates[i].age  %></li>

		<%	}  %>
	</ul>
	<p>The number was: </p>

</body>
</html>